@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter/Inter-Bold.woff2') format('woff2'),
    url('./fonts/Inter/Inter-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
*{
    font-family: 'Inter';
}
.mainContent{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-direction: column;

    .headings{
        display: flex;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        top: 10vh;
        h2{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            font-size: 36px;
        }
        h4{
            color: #989898;
        }
        
        }
        .reasons{
            position: relative;
            margin: .7rem;
            top: calc(15vh + 1rem);
            width: 80vw;
            height: 45vh;
            min-height: 600px;
            min-width: 400px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            border-radius: 1rem;

            .reasonBox{
                position: relative;
                border-radius: .7rem;
                max-width: 95%;
                min-width: 400px;
                margin: .7rem;
                width: 30%;
                height: 260px;
                background-color: #1f252c;
                border: 1px solid #484848;
                
                
                .imgContainer{
                    position: relative;
                    border: 1px solid #484848;
                    top: 1.2rem;
                    left: 1.2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-width: 50px;
                    max-width: 50px;
                    min-height: 50px;
                    max-height: 50px;
                    border-radius: .7rem;
                    background-color: transparent;
                    img{
                        position: relative;
                        min-width: 35px;
                        min-height: 35px;
                    }
                }
                
                .time{
                    //rgb(93, 133, 222)
                    background-color: #adbad6;
                }
                .growth{
                    background-color: #9f8dcf;
                }
                .community{
                    background-color: #ecd89b;
                }
                .dolar{
                    background-color: #b4daa0;
                }
                .lightning{
                    background-color: #d69087;
                }
                .support{
                    background-color: #32445e;
                }
                
            }
            h2{
                font-size: 1.4em;
                position: relative;
                top: 1.2rem;
                min-height: 48px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                left: 1.2rem;
                width: 90%;
            }
            p{
                position: relative;
                color: #797b7e;
                top: 2.5rem;
                left: 1.2rem;
                width: 90%;
                font-size: .85em;
            }
        }
    }
@media screen and (max-width: 1800px) {
    .mainContent{
        height: 125vh;
    }
    .reasons{
        width: 95%;
        height: 55vh;
        top: calc(15vh + .5rem);
    }
    
    p{
        top: .6rem;
    }

}
@media screen and (max-width: 1100px) {
    .mainContent{
        min-height: 200vh;
        
        .reasons{
            top: 12vh;
        }
    }
    .boxHeader{
        display: flex;
        justify-content: flex-start;
        align-items: center ;

        h2{
            margin-left: .7rem;
            width: calc(90% - 4rem) !important;
            display: flex;
            justify-content: flex-start !important;
            align-items: center;
            font-size: 1.25em !important;
        }
        h4{
            text-align: center;
        }
    }
    
}
@media screen and (max-width: 550px) {
    
    .reasons{
        width: 100%;
        left: 0;
        height: 35vh;
        scale: .85;
        top: 0vh !important;
    }
    
    
}
@media screen and (max-width: 450px) {
    .reasonBox{
        // min-width: 0px !important;
        // width: 300px !important;
        // height: 195px;
        margin: 0 !important;
        margin-block: .7rem !important;
        
    }
    .headings{
        width: 360px;
    }
    .reasons{
        margin: 0 !important;
        width: 100%;
        left: 0;
        height: 35vh;
        scale: .8;
    }
    
    
}
@media screen and (max-width: 1000px) {
    .mainContent{
        min-height: 250vh;
        .reasons{
            
            top: 8vh;
            height: 90%;
            
        }
    }
    .boxHeader h2{
        display: flex;
        justify-content: flex-start !important;
        align-items: center !important;
        text-align: start;
    }
}