@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter/Inter-Bold.woff2') format('woff2'),
    url('./fonts/Inter/Inter-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
.mainContent{
    font-family: 'Inter';
    
    width: 100vw;
    height: 100vh;

    .headings{
        display: flex;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        top: 10vh;
        h2{
            font-size: 40px;
        }
        h4{
            color: #989898;
        }
        
        }
        .reasons{
            position: relative;
            top: calc(15vh + 1rem);
            width: 80vw;
            left: 10vw;
            height: 45vh;
            min-height: 500px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            border-radius: 1rem;

            .reasonBox{
                position: relative;
                border-radius: .7rem ;
                width: 30%;
                min-height: 200px;
                background-color: #1f252c;
                border: 1px solid rgb(72, 72, 72);
                
                .imgContainer{
                    position: relative;
                    min-width: 50px;
                    min-height: 50px;
                    img{
                        position: relative;
                        min-width: 35px;
                        min-height: 35px;
                    }
                }
            }
        }
    }
